application:
    build: ./docker/ruby
    volumes:
        - ".:/redmine"
        - "./docker/ruby/bundle:/usr/local/bundle"
    ports:
        - 3000:3000
    links:
        - database
        - phpmyadmin

database:
    image: mysql:5.5
    ports:
        - 3306:3306
    environment:
        - "MYSQL_ALLOW_EMPTY_PASSWORD=yes"
    volumes:
        - ./docker/mysql/data:/var/lib/mysql

phpmyadmin:
    image: phpmyadmin/phpmyadmin
    #environment:
    # - PMA_HOST=database
    ports:
     - 8080:80
    links:
        - database
